.slogan {
    position: absolute;
    z-index: 1;
    top: 39%;
    left: 27%;
    font-size: 3rem;
    color: white;
}

.pic-header {
    border-radius: 25px;
    width: 100%;
}

.position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background: #F7F7F7;
    border-radius: 25px;
    margin: 5% 0;
}