.slogan {
    position: absolute;
    z-index: 1;
    font-size: 4.5vw;
    color: white;
}

.pic-header {
    opacity: 0.8;
    border-radius: 25px;
    width: 100%;
}

.pic-header-container {
    width: 100%;
    background-color: black;
    border-radius: 25px;
}

.position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background: #F7F7F7;
    border-radius: 25px;
    margin: 5% 0;
}
@media (max-width: 875px) {
    .wrapper {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 550px) {
    .wrapper {
        grid-template-columns: 100%;
    }
}
