.slogan {
    position: absolute;
    z-index: 1;
    top: 39%;
    left: 27%;
    font-size: 3rem;
    color: white;
}

.pic-header {
    border-radius: 25px;
    width: 100%;
}

.position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}