
.dropdown-container {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.title-flat {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.portrait {
    border-radius: 50%;
    width: 30%;
}

.location, .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}

.name {
    width: 30%;
}
.tags-container {
    display: flex;
    gap: 2%;
    width: 95%;
    margin: 2% 0;
}

.tags {
    background: #FF6060;
    width: 45%;
    border-radius: 10px;
    padding: 1% 1%;
    font-weight: 500;
    font-size: 11px;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
}
.main-info-container {
    display: flex;
    justify-content: space-between;
}

.host-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.host-stars-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stars-container {
    margin: 5% 0;
    display: flex;
    justify-content: flex-end;
    
}

.star {
    margin: 0 3%;
    width: 30px;
    height: auto;
}

@media (max-width: 777px) {
    .main-info-container {
        flex-direction: column;
        align-items: center;
    }
    .title-container {
        margin-bottom: 5%;
        align-items: center;
        text-align: center;
    }
    .host-stars-container {
        gap: 4%;
        flex-direction: row;
        align-items: center;
    }

    .dropdown-container{
        flex-direction: column;
    }
    .host-container{
        justify-content: center;
        gap: 5px;
    }
}

@media (max-width: 425px) {
    .host-stars-container {
        flex-direction: column;
    }
}