.cards {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, #FF6060 0%, rgba(50, 50, 50, 0.5) 100%);
    border-radius: 10px;
    margin: 10%;
}

.title-card {
    color: white;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-size: 1rem;
}

.cover {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}