.cards {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #ff6060ae 0%, rgba(50, 50, 50, 0.5) 100%);
    border-radius: 10px;
    margin: 10%;
}

.title-card {
    color: white;
    padding: 3%;
    font-size: 1rem;
}

.cover {
    border-radius: 14px;
    padding: 2% 3%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
@media (max-width: 875px) {
    
    .cards {
        height: 75%;
        text-align: center;
       align-items: center; 
    }
    .title-card{
        font-size: 2vw;
    }
}

@media (max-width: 550px) {
    .title-card {
        text-align: start;
        align-content: flex-start;
        font-size: 4vw;
    }
}