.title-error {
    color: #FF6060;
    font-size: 200px;
    margin: 5% 0;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
}
.info-error {
    font-size: 2em;
}

.home-link {
    border-bottom: thin solid #FF6060;
    text-decoration: none;
    width: max-content;
    margin: 10%;
}