.title-error {
    color: #FF6060;
    font-size: 200px;
    margin: 5% 0;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
}
.info-error {
    font-size: 2em;
}

.home-link {
    border-bottom: thin solid #FF6060;
    text-decoration: none;
    width: max-content;
    margin: 10%;
}

@media (max-width: 715px) {
    .title-error {
        font-size: 100px;
    }

    .info-error {
        font-size: 1.5em;
        text-align: center;
    }

    .home-link {
        width: auto;
        text-align: center;
    }
}    