.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

a {
    color: #FF6060;
    text-decoration: none;
}

.logo {
    font-size: 100px;
    color: #FF6060;
}

img {
    width: 20%;
}
