.logo-header {
    font-size: 100px;
    color: #FF6060;
}

.logo-footer {
    color: white;
    font-size: 3rem;
}

.svg-footer {
    width: 20%;
}

@media (max-width: 715px) {
    .logo-header {
        font-size: 75px;
    }

    .logo {
        width: 30px;
    }   
}
